.name {

}

.printer-list {
  .printer {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #cacaca;
  }
}

.last-maintenance {
  .date {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 13px;
  }
  .days-ago {
    font-size: 12px;
    color: #b2b2b2;
  }

  ion-button {

  }
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.add-new {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;

  ion-button {
    min-width: 150px;
  }
}
