.name {

}

.last-maintenance {
  .date {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  ion-button {

  }
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-left: 15px;
}

.add-new {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;

  ion-button {
    min-width: 150px;
  }
}
